<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Semillas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="navbar-container d-flex justify-content-between align-items-center">
        <div th:replace="~{navbar :: navbar}"></div>

    </div>

    <div class="container-fluid mt-5" style="max-width: 90%;">

        <div class="row align-items-center justify-content-between">
            <h1>Semilla</h1>
            <div>
                <a th:href="@{/semilla/crear}" class="btn btn-nueva-venta">Nueva Semilla</a>
            </div>
        </div>


        <div class="separator"></div>

        <form th:action="@{/semilla/listar}" method="get" class="mb-3">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre"
                        th:value="${nombre}">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" name="marca" class="form-control" placeholder="Buscar por marca"
                        th:value="${marca}">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-secondary btn-block">Buscar</button>
                </div>
            </div>
        </form>

        <div class="separator"></div>

        <div class="mb-3 d-flex justify-content-between">
            <div
                th:replace="~{paginacion :: paginationFragment(endpoint='/semilla/listar', currentPage=${currentPage}, totalPages=${totalPages})}">
            </div>
        </div>


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Descripción</th>
                    <th>Proveedores</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="semilla : ${semillas}">
                    <td th:text="${semilla.id}"></td>
                    <td th:text="${semilla.nombre}"></td>
                    <td th:text="${semilla.marca}"></td>
                    <td th:text="${semilla.precio}"></td>
                    <td th:text="${semilla.stock}"></td>
                    <td th:text="${semilla.descripcion}"></td>
                    <td>
                        <span th:each="proveedor, iterStat : ${semilla.proveedores}">
                            <span th:text="${proveedor.nombre}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </td>
                    <td>
                        <a th:href="@{/semilla/editar/{id}(id=${semilla.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <form th:action="@{/semilla/dar-de-baja}" method="post" style="display:inline;">
                            <input type="hidden" name="semillaSeleccionada" th:value="${semilla.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Estás seguro de que quieres dar de baja a esta semilla?');">
                                Dar de Baja
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mb-3 d-flex justify-content-between">
            <div
                th:replace="~{paginacion :: paginationFragment(endpoint='/semilla/listar', currentPage=${currentPage}, totalPages=${totalPages})}">
            </div>
        </div>

        <div class="d-flex justify-content-end mb-3">
            <button id="generarPDFSemilla" class="btn btn-primary">Generar PDF</button>
        </div>


    </div>


    <script>
        document.getElementById("generarPDFSemilla").addEventListener("click", function () {
            fetch("/semilla/pdf", { method: 'GET' })
                .then(response => {
                    if (!response.ok)
                        throw new Error("Error al generar el PDF");
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.download = 'semilla-completo.pdf';
                    link.click();
                })
                .catch(error => {
                    console.error("Error al generar el PDF:", error);
                    alert("Hubo un problema al generar el PDF. Intenta nuevamente.");
                });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>