<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Maceta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <div class="navbar-container d-flex justify-content-between align-items-center">
        <div th:replace="~{navbar :: navbar}"></div>
    </div>

    <div class="container-fluid mt-5" style="max-width: 90%;">
        <h1>Editar Maceta</h1>
        <div class="separator"></div>
        
        <form th:action="@{/maceta/editar/{id}(id=${maceta.id})}" method="post">
            <table class="table" style="table-layout: auto">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Color</th>
                        <th>Material</th>
                        <th>Tamaño</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Proveedores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" name="nombre" th:value="${maceta.nombre}" required></td>
                        <td>
                            <select class="form-control" name="color" required>
                                <option th:each="color : ${coloresMaceta}" th:value="${color}" th:text="${color}" th:selected="${color == maceta.color}"></option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="material" required>
                                <option th:each="material : ${materialesMaceta}" th:value="${material}" th:text="${material}" th:selected="${material == maceta.material}"></option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" name="tamaño" th:value="${maceta.tamaño}" required></td>
                        <td><input type="number" class="form-control" name="precio" th:value="${maceta.precio}" required></td>
                        <td><input type="number" class="form-control" name="stock" th:value="${maceta.stock}" required></td>
                        <td><textarea class="form-control" name="descripcion" th:text="${maceta.descripcion}"></textarea></td>
                        <td>
                            <div th:each="proveedor : ${proveedores}" class="form-check">
                                <input class="form-check-input" type="checkbox" th:id="'proveedor-' + ${proveedor.id}" th:value="${proveedor.id}" name="proveedoresIds" th:checked="${proveedoresSeleccionados.contains(proveedor.id)}" />
                                <label class="form-check-label" th:for="'proveedor-' + ${proveedor.id}" th:text="${proveedor.nombre}"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="separator"></div>
            <button type="submit" class="btn btn-success">Aceptar</button>
            <a th:href="@{/maceta/listar}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
