<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Plantas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <!-- Contenedor principal para navbar y botones -->
    <div class="navbar-container d-flex justify-content-between align-items-center">
        <!-- Navbar se carga con th:replace -->
        <div th:replace="~{navbar :: navbar}"></div>

    </div>
    <div class="container-fluid mt-5" style="max-width: 90%;">

        <div class="row align-items-center justify-content-between">
            <h1>Plantas</h1>
            <div>
                <a th:href="@{/plantas/crear}" class="btn btn-nueva-venta">Nueva Planta</a>
            </div>
        </div>


        <div class="separator"></div>
        <!-- Formulario de Búsqueda -->
        <form th:action="@{/plantas/listar}" method="get" class="mb-3">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre"
                            aria-label="Buscar por nombre" th:value="${nombre}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <select name="tipoPlanta" id="tipoPlanta" class="form-control" onchange="this.form.submit()">
                            <option value="">Buscar por Tipo</option>
                            <option th:each="tipo : ${tiposPlanta}" th:value="${tipo}" th:text="${tipo}"
                                th:selected="${tipo == selectedTipo}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="separator"></div>

        <div>
            <div
                th:replace="~{paginacion :: paginationFragment(endpoint='/plantas/listar', currentPage=${currentPage}, totalPages=${totalPages})}">
            </div>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Proveedores</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="planta : ${plantas}">
                        <td th:text="${planta.id}"></td>
                        <td th:text="${planta.nombre}"></td>
                        <td th:text="${planta.tipo}"></td>
                        <td th:text="${planta.precio}"></td>
                        <td th:text="${planta.stock}"></td>
                        <td th:text="${planta.descripcion}"></td>
                        <td>
                            <span th:each="proveedor, iterStat : ${planta.proveedores}">
                                <span th:text="${proveedor.nombre}"></span>
                                <span th:if="${!iterStat.last}">, </span> <!-- Agregar coma solo si no es el último -->
                            </span>
                        </td>
                        <td>
                            <a th:href="@{/plantas/editar/{id}(id=${planta.id})}"
                                class="btn btn-warning btn-sm">Editar</a>
                            <form th:action="@{/plantas/dar-de-baja}" method="post" style="display:inline;">
                                <input type="hidden" name="plantaSeleccionada" th:value="${planta.id}" />
                                <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Estás seguro de que quieres dar de baja a esta planta?');">
                                    Dar de Baja
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div
                th:replace="~{paginacion :: paginationFragment(endpoint='/plantas/listar', currentPage=${currentPage}, totalPages=${totalPages})}">
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button id="generarPDFPlanta" class="btn btn-primary">Generar PDF</button>
            </div>

        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



        <script>
            document.getElementById("generarPDFPlanta").addEventListener("click", function () {
                // Solicitar generación del PDF al backend
                fetch("/plantas/pdf", { method: 'GET' })
                    .then(response => {
                        if (!response.ok)
                            throw new Error("Error al generar el PDF");
                        return response.blob(); // Descargar el contenido del PDF
                    })
                    .then(blob => {
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.download = 'plantas-completas.pdf'; // Nombre del archivo descargado
                        link.click();
                    })
                    .catch(error => {
                        console.error("Error al generar el PDF:", error);
                        alert("Hubo un problema al generar el PDF. Intenta nuevamente.");
                    });
            });
        </script>


</body>

</html>