<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Fertilizante</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="navbar-container d-flex justify-content-between align-items-center">
        <div th:replace="~{navbar :: navbar}"></div>

    </div>

    <div class="container-fluid mt-5" style="max-width: 90%;">

        <div class="row align-items-center justify-content-between">
            <h1>Fertilizante</h1>
            <div>
                <a th:href="@{/fertilizante/crear}" class="btn btn-nueva-venta">Nuevo Fertilizante</a>
            </div>
        </div>


        <div class="separator"></div>

        <form th:action="@{/fertilizante/listar}" method="get" class="mb-3">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre"
                        th:value="${nombre}">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" name="marca" class="form-control" placeholder="Buscar por marca"
                        th:value="${marca}">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-secondary btn-block">Buscar</button>
                </div>
            </div>
        </form>

        <div class="separator"></div>


        <!-- Paginación -->
        <div th:replace="~{paginacion :: paginationFragment(endpoint='/fertilizante/listar', currentPage=${currentPage},
        totalPages=${totalPages}, nombre=${nombre}, color=${color}, material=${material}, marca=${marca}, tipo='')}">
        </div>


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Descripción</th>
                    <th>Proveedores</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fertilizante : ${fertilizantes}">
                    <td th:text="${fertilizante.id}"></td>
                    <td th:text="${fertilizante.nombre}"></td>
                    <td th:text="${fertilizante.marca}"></td>
                    <td contenteditable="true" class="editable" 
                    th:attr="data-id=${fertilizante.id}, data-campo='precio'"
                    th:text="${fertilizante.precio}"></td>
                    <td contenteditable="true" class="editable" 
                    th:attr="data-id=${fertilizante.id}, data-campo='stock'"
                    th:text="${fertilizante.stock}"></td>
                    <td th:text="${fertilizante.descripcion}"></td>
                    <td>
                        <span th:each="proveedor, iterStat : ${fertilizante.proveedores}">
                            <span th:text="${proveedor.nombre}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </td>
                    <td>
                        <a th:href="@{/fertilizante/editar/{id}(id=${fertilizante.id})}"
                            class="btn btn-warning btn-sm">Editar</a>
                        <form th:action="@{/fertilizante/dar-de-baja}" method="post" style="display:inline;">
                            <input type="hidden" name="fertilizanteSeleccionado" th:value="${fertilizante.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Estás seguro de que quieres dar de baja a este fertilizante?');">
                                Dar de Baja
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Paginación -->
        <div
            th:replace="~{paginacion :: paginationFragment(endpoint='/fertilizante/listar', currentPage=${currentPage},
                totalPages=${totalPages}, nombre=${nombre}, color=${color}, material=${material}, marca=${marca}, tipo='')}">
        </div>


        <div class="separator"></div>


        <div class="row align-items-center mb-5">
            <input type="hidden" id="tipoProducto" value="Fertilizante">

            <div class="col-auto">
                <label for="marcaPDF" class="form-label mb-0">Marca:</label>
                <select id="marcaPDF" name="marca" class="form-control">
                    <option value="">Seleccionar Marca</option>
                </select>
            </div>

            <div class="col-auto">
                <button id="generarPDFGrow" class="btn btn-primary mt-4">Generar PDF</button>
            </div>
        </div>

    </div>

    <script src="/js/pdf-generator.js"></script>
    <script type="module" src="/js/editar-precios.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>