
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/dashboard">Vive Verde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/ventas/listar">Ventas</a></li>
                <li class="nav-item"><a class="nav-link" href="/plantas/listar">Plantas</a></li>
                <li class="nav-item"><a class="nav-link" href="/decoracion/listar">Decoración</a></li>
                <li class="nav-item"><a class="nav-link" href="/grow/listar">Grow</a></li>
                <li class="nav-item"><a class="nav-link" href="/tierra/listar">Tierra</a></li>
                <li class="nav-item"><a class="nav-link" href="/maceta/listar">Maceta</a></li>
                <li class="nav-item"><a class="nav-link" href="/fertilizante/listar">Fertilizante</a></li>
                <li class="nav-item"><a class="nav-link" href="/herramienta/listar">Herramienta</a></li>
                <li class="nav-item"><a class="nav-link" href="/semilla/listar">Semilla</a></li>
                <li class="nav-item"><a class="nav-link" href="/insecticida/listar">Insecticida</a></li>
                <li class="nav-item"><a class="nav-link" href="/proveedores/listar">Proveedor</a></li>
                <li class="nav-item"><a class="nav-link" href="/clientes/listar">Cliente</a></li>
                <li class="nav-item"><a class="nav-link" href="/perdida_inventario">Perdida Inventario</a></li>
                <li class="nav-item"><a class="nav-link" href="/precios">Precio</a></li>
                <li class="nav-item"><a class="nav-link" href="/ingresoegreso">Ingresos</a></li>
                <li class="nav-item"><a class="nav-link" href="/horas">Control Horas</a></li>
                
                
            </ul>
        </div>
    </nav>
</div>
