<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nueva Venta</title>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="/css/styles.css">



</head>

<body>

    <div class="navbar-container d-flex justify-content-between align-items-center">
        <div th:replace="~{navbar :: navbar}"></div>
    </div>

    <div class="container mt-5">
        <h1>Nueva Venta</h1>
        <div class="separator"></div>
        <form id="ventaForm" th:action="@{/ventas/crear}" method="post">

            <h3 class="mt-4">Cliente</h3>
            <div class="form-group mt-3 d-flex">

                <select id="cliente" name="cliente" class="form-control" style="width: 50%;">
                    <option value="">Seleccionar Cliente</option>
                    <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}">
                    </option>
                </select>
                <a th:href="@{/clientes/crear}" class="btn btn-success ml-2">Nuevo Cliente</a>
            </div>

            <div class="separator"></div>

            <h3 class="mt-4">Productos</h3>
            <div class="form-group mt-3 row align-items-center">
                <div class="col-md-6">
                    <select id="producto" name="producto" class="form-control" data-placeholder="Buscar producto...">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-auto ml-auto">
                    <button type="button" id="agregarProducto" class="btn btn-success"
                        style="white-space: nowrap;">Agregar Producto</button>
                </div>
            </div>

            <table class="table table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Cantidad</th>
                        <th>Descuento (%)</th>
                        <th>Precio Final</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="productosSeleccionados"></tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Total</th>
                        <th id="totalProductosFinal">0</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>

            <div class="separator"></div>


            <h3 class="mt-4">Métodos de Pago</h3>
            <div class="form-group mt-3 d-flex">
                <select id="metodoPago" class="form-control" style="width: 50%;">
                    <option value="">Seleccionar Método de Pago</option>
                    <option th:each="metodo : ${metodosPago}" th:value="${metodo}" th:text="${metodo}"></option>
                </select>
                <button type="button" id="agregarMetodoPago" class="btn btn-success ml-2">Agregar Método de
                    Pago</button>
            </div>
            <table class="table table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Método</th>
                        <th>Monto</th>
                        <th>Total</th> <!-- Nueva columna para mostrar el recargo -->
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="metodosPagoSeleccionados"></tbody>
            </table>

            <div class="separator"></div>

            <h3 class="mt-4">Totales</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="totalProductos" class="form-title">Total Precio de Lista</label>
                        <input type="text" id="totalProductos" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="totalMetodoPago" class="form-title">Total Métodos de Pago (Incluye Recargos)</label>
                        <input type="text" id="totalMetodoPago" class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 20px;">
                <button type="submit" class="btn btn-success">Aceptar</button>
                <a href="/ventas/listar" class="btn btn-danger">Cancelar</a>
            </div>

        </form>
    </div>



    <!-- Scripts JavaScript en el ORDEN CORRECTO -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery DEBE ir primero -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script> <!-- Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> <!-- Select2 -->

    <!-- Tu script personalizado -->
    <script type="module" src="/js/ventas-crear.js"></script>

</body>

</html>