<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Ventas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar-container d-flex justify-content-between align-items-center">
        <div th:replace="~{navbar :: navbar}"></div>
    </div>

    <div class="container-fluid mt-5" style="max-width: 90%; margin-bottom: 20px;">
        <div class="row align-items-center justify-content-between">
            <h1>Ventas</h1>
            <div>
                <a th:href="@{/ventas/crear}" class="btn btn-nueva-venta">Nueva Venta</a>
            </div>
        </div>

        <div class="separator"></div>


        <div class="row mb-3">
            <!-- Columna 1: Totales del Día -->
            <div class="col-2">
                <h3>Totales del Día:</h3>
                <form style="margin-bottom: 20px;">
                    <label for="fecha">Seleccionar fecha:</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" style="width: 180px;">
                </form>
            </div>
        
            <!-- Columna 2: Reporte de Ventas (ajustada como la columna 3) -->
            <div class="col-4">
                <h3>Reporte de Ventas</h3>
                <form id="form-reporte-ventas">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="mes">Mes</label>
                            <input type="number" id="mes" min="1" max="12" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label for="anio">Año</label>
                            <input type="number" id="anio" min="2000" max="2100" class="form-control">
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="btnGenerarReporte" class="btn btn-info" type="button">Generar Reporte</button>
                    </div>
                </form>
            </div>
        
            <!-- Columna 3: Reporte de Productos -->
            <div class="col-6">
                <h3>Reporte de Productos</h3>
                <form id="form-reporte">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fechaInicio">Fecha inicio:</label>
                            <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label for="fechaFin">Fecha fin:</label>
                            <input type="date" id="fechaFin" name="fechaFin" class="form-control" required>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Generar Reporte</button>
                    </div>
                </form>
            </div>
        </div>
      
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Efectivo</th>
                    <th>Crédito</th>
                    <th>Débito</th>
                    <th>MP Valeria</th>
                    <th>MP Sacha</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div style="min-width: 150px;" class="form-control text-center" id="totalEfectivo" readonly>$
                            0.00</div>
                    </td>
                    <td>
                        <div style="min-width: 150px;" class="form-control text-center" id="totalCredito" readonly>$
                            0.00</div>
                    </td>
                    <td>
                        <div style="min-width: 150px;" class="form-control text-center" id="totalDebito" readonly>$ 0.00
                        </div>
                    </td>
                    <td>
                        <div style="min-width: 150px;" class="form-control text-center" id="totalMercadoPagoVale"
                            readonly>$ 0.00</div>
                    </td>
                    <td>
                        <div style="min-width: 150px;" class="form-control text-center" id="totalMercadoPagoSacha"
                            readonly>$ 0.00</div>
                    </td>
                    <td>
                        <div style="min-width: 150px;" class="form-control fw-bold text-center" id="totalGeneral"
                            readonly>$ 0.00</div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="separator"></div>

        <div
            th:replace="~{paginacion :: paginationFragment(endpoint='/ventas/listar', currentPage=${currentPage},
        totalPages=${totalPages}, nombre=${nombre}, color=${color}, material=${material}, marca=${marca}, tipo=${tipo})}">
        </div>

        <table style="min-width: 1050px;" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Método de Pago</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="venta : ${ventas.content}">
                    <td th:text="${venta.id}"></td>
                    <td th:text="${venta.cliente != null ? venta.cliente.nombre : 'N/A'}"></td>
                    <td th:text="${#temporals.format(venta.fecha, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td>
                        <span th:each="pago, iterStat : ${venta.pagos}">
                            <span th:text="${pago.metodo}"></span>
                            <span th:if="${!iterStat.last}">, </span> <!-- Agrega una coma si no es el último -->
                        </span>
                    </td>
                    <td th:text="${#numbers.formatDecimal(venta.total, 2, 2)}"></td>
                    <td>
                        <a th:href="@{/ventas/editar/{id}(id=${venta.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <form th:action="@{/ventas/eliminar/{id}(id=${venta.id})}" method="post" style="display:inline;"
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta venta?');">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        <a th:href="@{/ventas/detalle/{id}(id=${venta.id})}" class="btn btn-info btn-sm">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <div
            th:replace="~{paginacion :: paginationFragment(endpoint='/ventas/listar', currentPage=${currentPage},
        totalPages=${totalPages}, nombre=${nombre}, color=${color}, material=${material}, marca=${marca}, tipo=${tipo})}">
        </div>

        
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="/js/ventas-listar.js"></script>


</body>

</html>