<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Ventas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Incluir Popper.js desde jsDelivr -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <!-- Incluir Bootstrap JS desde CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





</head>

<body>

    <!-- Contenedor principal para navbar y botones -->
    <div class="navbar-container d-flex justify-content-between align-items-center">
        <!-- Navbar se carga con th:replace -->
        <div th:replace="~{navbar :: navbar}"></div>

    </div>


    <div class="container-fluid mt-5" style="max-width: 90%; margin-bottom: 20px;">

        <div class="row align-items-center justify-content-between">
            <h1>Ventas</h1>
            <div>
                <a th:href="@{/ventas/crear}" class="btn btn-nueva-venta">Nueva Venta</a>
            </div>
        </div>


        <div class="separator"></div>

        <h3>Totales del Día:</h3>

        <form style="margin-bottom: 20px;">
            <label for="fecha">Seleccionar fecha:</label>
            <input type="date" id="fecha" name="fecha" class="form-control" style="width: 15%;">
        </form>

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Efectivo</th>
                    <th>Crédito</th>
                    <th>Débito</th>
                    <th>MercadoPago</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-control text-center" id="totalEfectivo" readonly>$ 0.00</div>
                    </td>
                    <td>
                        <div class="form-control text-center" id="totalCredito" readonly>$ 0.00</div>
                    </td>
                    <td>
                        <div class="form-control text-center" id="totalDebito" readonly>$ 0.00</div>
                    </td>
                    <td>
                        <div class="form-control text-center" id="totalMercadoPago" readonly>$ 0.00</div>
                    </td>
                    <td>
                        <div class="form-control fw-bold text-center" id="totalGeneral" readonly>$ 0.00</div>
                    </td>
                </tr>
            </tbody>
        </table>




        <div class="separator"></div>

        <!-- Paginación -->
        <div
            th:replace="~{paginacion :: paginationFragment(endpoint='/ventas/listar', currentPage=${currentPage},
        totalPages=${totalPages}, nombre=${nombre}, color=${color}, material=${material}, marca=${marca}, tipo=${tipo})}">
        </div>



        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Método de Pago</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="venta : ${ventas.content}">
                    <td th:text="${venta.id}"></td>
                    <td th:text="${venta.cliente != null ? venta.cliente.nombre : 'N/A'}"></td>
                    <td th:text="${#temporals.format(venta.fecha, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td>
                        <span th:each="pago, iterStat : ${venta.pagos}">
                            <span th:text="${pago.metodo}"></span>
                            <span th:if="${!iterStat.last}">, </span> <!-- Agrega una coma si no es el último -->
                        </span>
                    </td>
                    <td th:text="${#numbers.formatDecimal(venta.total, 2, 2)}"></td>
                    <td>
                        <a th:href="@{/ventas/editar/{id}(id=${venta.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <form th:action="@{/ventas/eliminar/{id}(id=${venta.id})}" method="post" style="display:inline;"
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta venta?');">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        <a th:href="@{/ventas/detalle/{id}(id=${venta.id})}" class="btn btn-info btn-sm">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginación -->
        <div
            th:replace="~{paginacion :: paginationFragment(endpoint='/ventas/listar', currentPage=${currentPage},
        totalPages=${totalPages}, nombre=${nombre}, color=${color}, material=${material}, marca=${marca}, tipo=${tipo})}">
        </div>

        <div class="separator"></div>

        <h3>Generar Reporte de Ventas</h3>
        <div class="row align-items-center" style="margin-left: 10px;">
            <div class="d-flex align-items-center">
                <label for="mes" class="mr-2">Mes</label>
                <input type="number" id="mes" min="1" max="12" class="form-control mr-3" style="width: 80px;" required>
                <label for="anio" class="mr-2">Año:</label>
                <input type="number" id="anio" min="2000" max="2100" class="form-control mr-3" style="width: 100px;">
                <button id="btnGenerarReporte" class="btn btn-info">Generar Reporte</button>
            </div>
        </div>




    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="/js/ventas-listar.js"></script>

</body>

</html>