<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ingresar Compra</title>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="navbar-container d-flex justify-content-between align-items-center">
        <div th:replace="~{navbar :: navbar}"></div>
    </div>

    <div class="container mt-5">
        <h1>Ingresar Compra</h1>
        <div class="separator"></div>

        <h3 class="mt-4">Seleccionar Producto</h3>
        <div class="form-group mt-3 d-flex flex-wrap align-items-center">
            <select id="producto" class="form-control" style="width: 40%;"></select>

            <!-- Input Cantidad -->
            <input type="number" id="cantidadProducto" class="form-control ml-2" placeholder="Cantidad" min="1"
                value="1" style="width: 150px;">

            <!-- Nuevo input Precio Compra -->
            <input type="number" id="precioCompraInput" class="form-control ml-2" placeholder="Precio Compra" min="0"
                step="0.01" style="width: 160px;">

            <!-- Botón Agregar Producto -->
            <button type="button" id="agregarProducto" class="btn btn-success ml-2">Agregar Producto</button>
        </div>

        <table class="table table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Stock Actual</th>
                    <th>Cantidad a Ingresar</th>
                    <th>Precio Unitario</th>
                    <th>Precio Compra</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="productosSeleccionados"></tbody>
        </table>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <div class="form-group mt-3">
            <label for="comentario">Comentario:</label>
            <textarea id="comentario" class="form-control" rows="2"
                placeholder="Escribe un comentario sobre la compra..."></textarea>
        </div>


        <div class="mt-3">
            <button type="button" id="guardarCompra" class="btn btn-primary">Guardar Compra</button>
            <a href="/compras/listar" class="btn btn-danger ml-1">Cancelar</a>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="module" src="/js/ingresar-compra.js"></script>

</body>

</html>